body{
    background-color: rgb(236, 193, 208)
    ;}
h2{
    color: steelblue; font-family: fantasy; text-align: center;

}
img{
    align-content: center;
    border-radius: 5%;
}

    a:link{
        color:darkmagenta;
        background-color: transparent;
        text-decoration: none;
    
    }

    a:visited{
        color: teal;
        background-color: transparent;
        text-decoration: none;
    }
    a:hoover{
        color:rgb(0, 0, 255);
        background-color: transparent;
        text-decoration: none;
    }
    a:active{
        color:yellow;
        background-color: transparent;
        text-decoration: none;
    }
    button{
        background-color: cornsilk;
        opacity: 6;
    }
    
    th, td{
        background-color: rgb(187, 167, 222);
        border-radius: 10%;
    }

    .flex-container{
        display: flex;
       

    }

    .picture{
        margin-right: 20px;
        padding-top: 10px;
    }
    
    .y-video{
        margin-left: 100px ;
        padding-top: 15px ;
        border-radius: 40px;
    }

